
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MVC Product List</h2>

<ul>
    <li>@Html.ActionLink("Laptop", "Product", "Products", new {ProductName = "Laptop"}, null)</li>
    <li>@Html.ActionLink("Tablet", "Product", "Products", new { ProductName = "Tablet" }, null)</li>
    <li>@Html.ActionLink("Desktop", "Product", "Products", new { ProductName = "Desktop" }, null)</li>
</ul>

